language: php
php:
  - "7.0"
  - "7.1"
  - "7.2"
  - "7.3"
services:
  - docker
script:
  - composer install
  - if [ $(phpenv version-name) = "7.0" ]; then docker build . -f Dockerfile-70; fi
  - if [ $(phpenv version-name) = "7.1" ]; then docker build . -f Dockerfile-71; fi
  - if [ $(phpenv version-name) = "7.2" ]; then docker build . -f Dockerfile-72; fi
  - if [ $(phpenv version-name) = "7.3" ]; then docker build . -f Dockerfile-73; fi
