shared: &shared
  steps:
    - checkout
    - run: echo 'export MY_COMMIT=$(git log --format=format:%H -n1)' >> $BASH_ENV
    - run: echo $MY_COMMIT
    - setup_remote_docker:
        version: 19.03.13
    - run:
        name: Install Docker client
        command: if [ $PHP_VERSION != "70" ]; then apk add --no-cache docker-cli; fi
    - run:
        name: Install Docker client
        command: if [ $PHP_VERSION = "70" ]; then apk add --no-cache docker; fi
    - run: docker build -t update-check-runner . -f Dockerfile-$PHP_VERSION-composer-$COMPOSER_VERSION
    - restore_cache:
        keys:
            - v1-dependencies-{{ checksum "composer.lock" }}-{{ .Environment.CIRCLE_JOB }}
    - run: if [ $PHP_VERSION != "80" ] && [ $PHP_VERSION != "81" ] && [ $PHP_VERSION != "82" ]; then composer install --prefer-dist; fi
    - run: if [ $PHP_VERSION = "80" ] || [ $PHP_VERSION = "81" ] || [ $PHP_VERSION = "82" ]; then composer require phpunit/phpunit:^9 --update-with-dependencies --ignore-platform-reqs --prefer-dist; fi
    - save_cache:
          key: v1-dependencies-{{ checksum "composer.lock" }}-{{ .Environment.CIRCLE_JOB }}
          paths:
              - ./vendor
    - run: 
        command: ./vendor/bin/phpunit
        no_output_timeout: 50m

jobs:
  "php70":
    environment:
      PHP_VERSION: 70
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:7.0-multi
    <<: *shared
  "php70-2":
    environment:
      COMPOSER_VERSION: 2
      PHP_VERSION: 70
    docker:
      - image: violinist/php-base:7.0-multi
    <<: *shared
  "php71":
    environment:
      PHP_VERSION: 71
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:7.1-multi
    <<: *shared
  "php71-2":
    environment:
      PHP_VERSION: 71
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:7.1-multi
    <<: *shared
  "php72":
    environment:
      PHP_VERSION: 72
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:7.2-multi
    <<: *shared
  "php72-2":
    environment:
      PHP_VERSION: 72
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:7.2-multi
    <<: *shared
  "php73":
    environment:
      PHP_VERSION: 73
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:7.3-multi
    <<: *shared
  "php73-2":
    environment:
      PHP_VERSION: 73
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:7.3-multi
    <<: *shared
  "php74":
    environment:
      PHP_VERSION: 74
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:7.4-multi
    <<: *shared
  "php74-2":
    environment:
      PHP_VERSION: 74
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:7.4-multi
    <<: *shared
  "php80":
    environment:
      PHP_VERSION: 80
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:8.0-multi
    <<: *shared
  "php80-2":
    environment:
      PHP_VERSION: 80
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:8.0-multi
    <<: *shared
  "php81":
    environment:
      PHP_VERSION: 81
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:8.1-multi
    <<: *shared
  "php81-2":
    environment:
      PHP_VERSION: 81
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:8.1-multi
    <<: *shared
  "php82":
    environment:
      PHP_VERSION: 82
      COMPOSER_VERSION: 1
    docker:
      - image: violinist/php-base:8.2-multi
    <<: *shared
  "php82-2":
    environment:
      PHP_VERSION: 82
      COMPOSER_VERSION: 2
    docker:
      - image: violinist/php-base:8.2-multi
    <<: *shared

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - "php70"
      - "php70-2"
      - "php71"
      - "php71-2"
      - "php72"
      - "php72-2"
      - "php73"
      - "php73-2"
      - "php74"
      - "php74-2"
      - "php80"
      - "php80-2"
   #   - "php81"
 #     - "php81-2"
  build:
    jobs:
      - "php70"
      - "php70-2"
      - "php71"
      - "php71-2"
      - "php72"
      - "php72-2"
      - "php73"
      - "php73-2"
      - "php74"
      - "php74-2"
      - "php80"
      - "php80-2"
      - "php81"
      - "php81-2"
      - "php82"
      - "php82-2"
