name: buildx

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  push:
   # branches: main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  buildx:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: true
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
        composer-version: 
          - "1"
          - "2"
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set docker file variable 
        id: file
        run: |
          FILE=Dockerfile-$(echo "${{ matrix.php-version }}" | sed "s/\.//")-composer-${{ matrix.composer-version }}
          echo $FILE
          echo "FILE=$FILE" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: ${{ steps.file.outputs.FILE }}
          #push: ${{ github.event_name == 'push' }}
          #push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.php-version }}-multi-composer-${{ matrix.composer-version }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Clear
        if: always() && github.event_name != 'pull_request'
        run: |
          rm -f ${HOME}/.docker/config.json
